@model PRG522SA2021.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="breadcrumbs overlay bg-info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <!-- Bread Menu -->
                    <div class="bread-menu">
                        <ul>
                            <li><a>Home</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </div>
                    <!-- Bread Title -->
                    <div class="bread-title"><h2>Create Account</h2></div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="contact-us section-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area m-top-30">
                    <h4>Register new Account.</h4>
                    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-12">

                            <div class="form-group">
                                <div class="icon"><i class="fa fa-envelope"></i></div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-12">

                            <div class="form-group">
                                <div class="icon"><i class="fa fa-lock"></i></div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-12">

                            <div class="form-group">
                                <div class="icon"><i class="fa fa-lock"></i></div>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-12">
                                <input type="submit" value="Register" class="bizwheel-btn theme-2" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <p>
                                    Already have an account? @Html.ActionLink("Login", "Login", "Account", new { @class = "text-primary" })
                                </p>

                            </div>

                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</section>